*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #009688 10%, #DADBD4 10%);
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
    margin-right: 5px;
}

i {
    padding: 5px;
}
.container {
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: center;
    min-width: 800px;
}

.wrapper {
    background-color: white;
    width: 100vh;
    height: 80vh;
    margin-top: 50px;
    display: flex;
}

.left-column {
    min-width: 300px;
    height: 100vh;
}

.left-column-header {
    width: 100%;
    height: 70px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid gray;
}

.header-left {
    display: flex;
}

img {
    margin: 0px 10px;
    width: 50px;
    border-radius: 50%;
}

.name-avatar {
    align-self: center;
    font-size: 1.2rem;
}

.icons {
    color: rgb(170, 170, 170);
    margin-right: 10px;
}

.notification {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgb(133, 218, 252);
}

.bell {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: rgb(133, 218, 252);
}

.serch {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgb(160, 160, 160);
}

.lente {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-size: 1.2rem;
    border-radius: 50px;
}

.chats {
    height: 100%;
    overflow-y: auto;
}

.chat {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 50px;
    margin: 20px 0;
}

.last-message {
    display: flex;
    color: rgb(190, 190, 190);
    font-size: 0.8rem;
    justify-content: flex-end;
}

.time-last-message {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* RIGHT COLUMN */

.right-column {
    background-image: url("../img/mine.jpg");
    width: 100%;
    min-width: 300px;
    height: 80vh;
}

.right-column-header {
    width: 895px;
    height: 70px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.chat-message {
    position: absolute;
    width: 70%;
}

.left-chat-box {
    display: flex;
    width: 30%;
    background-color: rgb(207, 255, 134);
    margin-top: 20px;
    margin-left: 600px;
    font-size: 1.2rem;
    justify-content: flex-end;
}

.right-chat-box {
    display: flex;
    width: 30%;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 1.2rem;
    justify-content: flex-start;
    margin-left: 100px;
    }

.footer-right {
    width: 895px;
    height: 70px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 189px;
}

.emoji {
    margin-left: 25px;
    font-size: 1.3rem;
    width: 10%;
    text-align: center;
}

.write-message {
    width: 80%;
    text-align: center;
}

.message{
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.mic {
    width: 10%;
    text-align: center;
}